/* for width margin padding try to use % rather than px
for code with more than 4 lines then add commet about what it does
dont just comment like "club ethos" instead use the class id
credit pictures within readme and not css
use jigsaw css validator */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

body {
    background-color: #e5e5e5;
}

.hr1 {
    height: 6px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #e5e5e5;
}


body {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.color-black {
    color: #000000;
}

.title {
    float: left;
    font-size: 200%;
    padding-left: 2%;
    color: #0000ff;
}

.nav-menu {
    font-size: 130%;
    letter-spacing: 3px;
    font-family: 'roboto slab', sans-serif;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-menu2 {
    font-size: 140%;
    letter-spacing: 3px;
    font-family: 'roboto slab', sans-serif;
    float: right;
    padding-right: 2%;
}

.nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
    color: #0000ff;
}

.nav-menu2 li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    color: #0000ff;
}

.nav-menu a {
    text-decoration: none;
}

.nav-menu2 a {
    text-decoration: none;
}

.nav-menu a:hover {
    border-bottom: 3px double #070606;
}

.nav-menu2 a:hover {
    border-bottom: 3px double #070606;
}

.active {
    border-bottom: 3px double #070606;
}

.over-text,
h2 {
    color: #0000ff;
}

.over-text {
    padding-top: 5%;
    line-height: 50px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: static;
    font-family: 'roboto slab', sans-serif;
    font-size: 150%;
}

#hero-image {
    background-image: url(../assets/images/hero-image.webp);
    position: relative;
    width: 100%;
    height: 500px;
}



/* ETHOS SECTION */

.why-join-us {
    padding: 50px 50px 70px 50px;
    margin-left: 10px;
    margin-right: 160px;
}

.why-join-us>h2 {
    font-size: 200%;
}

.above-why {
    padding: 50px 50px 70px 50px;
    margin-left: 10px;
    margin-right: 160px;
}

.why-join-us li {
    list-style-type: none;
    /* text-align: center; */
    margin: auto;
    font-size: 125%;
    padding: 50px 50px 70px 50px;
    margin-left: 10px;
    margin-right: 160px;
    line-height: 30px;
}

.link {
    color: #000000;
}

.below-why {
    color: #070606;
    margin-bottom: 10px;
}

.why-center {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    clear: none;
}



/* Circle container and image - I WANT TO CREATE 3 HORIZONTAL */

.circle-image {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 3px double #000000;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-container {
    background-image: url('../assets/images/slideshow/download.png');
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/* Schedule page styling below */

.schedule {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.schedule div {
    color: #ffffff;
    width: 25%;
    height: 100%;
    float: left;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    text-align: center;
    border: 3px double #ffffff;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;

}

.schedule a {
    color: #06b4c0;
}

.schedule h2 {
    color: #fafafa;
}

#schedule {
    background-image: url('../assets/images/hero-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.over-text-schedule {
    padding-top: 5%;
    line-height: 25px;
    clear: right;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    position: static;
}

/* Footer styling section */
footer {

    background-color: #ffffff;
    width: 100%;
    font-size: 175%;
}

.social-sites {
    text-align: center;
}

.social-sites>li {
    display: inline;
}

.social-sites i {
    font-size: 160%;
    margin: 2%;
    padding-top: 10%;
    padding: 5%;
    color: #3a3a3a;
}

.gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.recent-events {
    text-transform: uppercase;
    clear: both;
    text-align: center;
}

.gallery>img {
    width: 100%;
}

/* Sign up section */

#join-form {
    background: url("");
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
    background-image: url(../assets/images/brum.webp);
    padding: 30px;
    max-width: 100%;
}

#signup-form {
    /* margin: 100px 100px 300px 300px; */
    margin: 0 auto;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 50%;
    position: relative;
    padding: 30px;
    height: auto;

    background-size: cover;
    border: 3px double #fafafa;
}

form h2 {
    text-align: center;
    color: #62a6ff;
}

#color-blue {
    color: #0000ff;
}

#color-white {
    color: #fffefe;
}



.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#firstname {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 3px double #fafafa;
    border-radius: 2px;
}

#firstname:hover {
    border-color: #0000ff;
}

#lastname {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 3px double #fafafa;
    border-radius: 2px;
}

#lastname:hover {
    border-color: #0000ff;
}

#email {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 3px double #fafafa;
    border-radius: 2px;
}

#email:hover {
    border-color: #0000ff;
}

#text-input:hover {
    border-color: #0000ff;
}

#join-button {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    color: #000000;
    display: block;
    border: 3px double;
}

#join-button:hover {
    background-color: #0000ff;
    color: #ffffff;
}


/* TEXT BOX WIDTH CHANGE WHEN CLICKED CSS BELOW FOUND FROM
https://www.w3schools.com/cssref/sel_attribute_value.asp */

input[type=text],
input[type=email] {
    width: 100%;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus {
    width: 250px;
}



/* Mobile Viewing for screen lower than 950 pixels*/
/* THIS SECTION IS NOT ALGNED STRAIGHT FOR SOME REASON*/


@media screen and (max-width: 950px) {
    .schedule div {
        width: 100%;
        clear: both;
        padding: 0;
    }

    .gallery {
        column-count: 3;
    }

    #join-form {
        width: 100%;
        clear: both;
        padding: 0;
    }

    .nav-menu2 li {
        height: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-menu {
        height: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .why-join-us {
        padding: 0;
        margin-left: 10px;
        margin-right: 160px;
        text-align: center;
        width: 100%;
    }

    .why-join-us>h2 {
        font-size: 200%;
        text-align: center;
        width: 100%;
    }

    .above-why {
        padding: 0;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .why-join-us li {
        list-style-type: none;
        text-align: center;
        margin: auto;
        font-size: 125%;
        margin-left: 0;
        margin-right: 0;
        line-height: 30px;
    }

    .newsletter {
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }



}


@media screen and (max-width: 835px) {

    .nav-menu {
        height: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .over-text {
        margin: 0 auto;
        text-align: center;
        clear: both;
    }

    .why-join-us {
        width: 100%;
    }

    .above-why h2,
    .below-why h2 {
        text-align: center;
        width: 100%;
        padding: 0px;
    }

}

@media screen and (max-width: 690px) {

    .nav-menu {
        clear: both;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 1px;
    }

    .hero-image .nav-menu li {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .over-text {
        clear: both;
        padding-top: 3px;
        margin: 0 auto;
    }

    .why-join-us {
        width: 90%;
    }

}

/* Tablet viewing for screens lower than 844 pixel */
/* THIS SECTION IS NOT ALGNED STRAIGHT FOR SOME REASON*/

@media screen and (max-width: 464px) {

    .why-join-us {
        width: 65%;
        height: 464px;
        margin: 0 auto;
        padding-top: 15%;
    }

    .title {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .nav-menu {
        font-size: 160%;
        padding: 1%;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 15px;
    }

    .above-why,
    .below-why {
        padding: 0;
        width: 100%;
        text-align: center;
    }


    .circle-image {
        clear: both;
        padding: 0;
    }


    .hero-image {
        width: 100%;
    }

    #signup-form {
        max-width: 100%;
        float: none;
        margin: auto;
    }

    .gallery {
        column-count: 2;
    }

}