@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

body {
    font-family:font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}

h1, h2 {
    font-family:font-family: 'Roboto Slab', serif;
    font-weight:600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.color-green {
    color:rgb(1, 197, 1);
}

#title {
    float:right;
    font-size: 200%;
    margin-right: 7.5%;
}


#nav-menu {
    font-size: 100%;
    letter-spacing: 3px;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
    color: blue;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu #title {
    line-height: 75%;
}

#nav-menu a:hover {
    border-bottom: 3px double #070606;
}

.active {
    border-bottom: 3px double #070606;
}

#over-text, #over-text, h2 {
    color: hotpink;
}

#over-text {
    padding-top: 15%;
    width: 50%;
    float: right;
    text-align: right;
    background-color: aqua;

    /* font-size: 125%;
    font-family: 'roboto slab', sans-serif;
    text-transform: uppercase bold;
    letter-spacing: 3px;
    width: 275px;
    height: 175px;
    padding-top: 25px;
    padding-right: 75%;
    background-color: rgba(229,229,229, 0.5);

    bottom: 25px;
    left:125px;
position: absolute; */

}

#hero-image {
    height: 600px;
    width: 50%;
    background-image:   url('../assets/images/hero-image.jpg');
    
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    float: left;
}

#hero-zoom {
    height: 500px;
    width: 75%;
    overflow: hidden;
    background-size: cover;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

#why-join-us {
    height: 600px;
    background-color: blue;
    text-align: center;

}

#why-center {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
}