@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

body {
    font-family:'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-weight:600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.color-green {
    color:rgb(0, 0, 0);
}

#title {
    float:right;
    font-size: 200%;
    margin-right: 7.5%;
    color: blue;
}


#nav-menu {
    font-size: 100%;
    letter-spacing: 3px;
    font-family: 'roboto slab', sans-serif;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
    color: blue;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
    /* padding-bottom: 10px; */
}

#nav-menu #title {
    /* line-height: 75%; */
}

#nav-menu a:hover {
    border-bottom: 3px double #070606;
}

.active {
    border-bottom: 3px double #070606;
}

#over-text, h2 {
    color: blue;
}

#over-text {
   padding-top: 3%;
    line-height: 50px;
    clear:center;
    width: 100%;
    text-align: center;
    /* background-color: aqua; */
    margin: 0 auto;
    position:static;
    font-family: 'roboto slab', sans-serif;
    font-size: 150%;
}



/* #hero-image {
    padding-top: 40px;
    height: 500px;
    width: 50%;
    background-image:   url('../assets/images/hero-image.jpg');
    
    
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    float: left;
    position: static;
} */

/* #hero-zoom {
    height: 500px;
    width: 75%;
    overflow: hidden;
    background-size: cover;
} */

/* @keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
} */

#why-join-us {
    padding-top: 30px;
    height: 600px;
    /* background-color: blue; */
    text-align: center;
    color: rgb(0, 0, 0);
    clear: both;
}

#why-join-us > h1 {
    font-size: 300%;
}

#above-why {
    /* background-color: red; */
    color: black;
    width: 100%;
    line-height: 30px;
}

#link {
    color: black;
}

#below-why {
    /* background-color: green; */
    color: #070606;
    margin-bottom: 10px;
    float: center;
    /* text-decoration: underline; */
}

#why-center {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    clear: none;
}


/* Circle container and image */



#circle-container2 {
    background-image: url('../assets/images/slideshow/download.png');
    height: 100%;
    width: 100%;
    border-radius: 50%;
    }


#circle-container3 {
    background-image: url('../assets/images/slideshow/download.png');
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#circle-image {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: double;
    /* border-color: black; */
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-container {
    background-image: url('../assets/images/slideshow/download.png');
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/* Schedule page styling below */

#schedule {
    background-image: url('../assets/images/Birmingham.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    /* Picture sourced from https://www.visitbritain.com/gb/en/business/england/birmingham */
}

#schedule div {
    color: black;
    /* background-color: rgba(41, 190, 171, 0.5); */
    width: 25%;
    height: 300px;
    float: left;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    /* change to shorthand later */
    text-align: center;
    border: 3px double white;
    box-sizing: border-box;
}

#over-text-schedule {
    padding-top: 150px;
    line-height: 50px;
    clear:right;
    width: 50%;
    float: center;
    text-align: center;
    background-color: aqua;
    margin: 0 auto;
    position:static;

}

/* Footer styling section */
footer {
    padding-top: 30px;
    height: 150px;

    text-align:
}

#social-sites {
    text-align: center;
}

#social-sites > li {
    display: inline;
}

#social-sites i {
    font-size: 160%;
    margin: 2%;
    padding-top: 10%;
    padding: 5%;
    color: #3a3a3a;

}

/* .social-sites {
    text-align: center;
}

.social-sites > li {
    display: inline;
} */

/* Past meets/ Gallery Page */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}


/* Tablet viewing for screens lower than 1201 pixel */
/* THIS SECTION IS NOT ALGNED STRAIGHT FOR SOME REASON*/

@media screen and (max-width: 1200px) {

    #why-join-us {  
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    

    hr {
        display: none;
    }

    #above-why, #below-why {
        padding: 0;
        width: 100%;
        float: center;
        text-align: center;

    }


    #circle-image {
        clear:both;
        /* width: 100%;
        Changing width changes circle to an oval */
        float: 0;
        padding: 0;
    }
/* 
    #circle-container {
        clear: both;
    } */

    #hero-image {
        width: 100%;
    }

}


/* Mobile Viewing for screen lower than 951 pixels*/
/* THIS SECTION IS NOT ALGNED STRAIGHT FOR SOME REASON*/

@media screen and (max-width: 950px) {
    
    #nav-menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #over-text {
        margin: 0 auto;
        text-align: center;
        clear: none;
        /* FIND OUT HOW TO CENTER THIS ON THE SCREEN AFTER HERO IMAGE IS REMOVED */
    }

    #hero-image {
        display: none;
    }

    #why-join-us {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #above-why h2, #below-why h2{
        text-align: center;
        width: 100%;
        padding: 30px;
        margin: 0 auto;
    }
    /* dont think this is needed! */
}