@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

body {
    font-family:font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}

h1, h2 {
    font-family:font-family: 'Roboto Slab', serif;
    font-weight:600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.color-green {
    color:rgb(1, 197, 1);
}

#title {
    float:right;
    font-size: 200%;
    margin-right: 7.5%;
}


#nav-menu {
    font-size: 100%;
    letter-spacing: 3px;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
    color: blue;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu #title {
    line-height: 75%;
}

#nav-menu a:hover {
    border-bottom: 3px double #070606;
}

.active {
    border-bottom: 3px double #070606;
}

#over-text, #over-text, h2 {
    color: hotpink;
}

#over-text {
    padding-top: 150px;
    line-height: 50px;
    clear:right;
    width: 50%;
    float: right;
    text-align: center;
    background-color: aqua;
    margin: 0 auto;
    position:static;
 
    /* font-size: 125%;
    font-family: 'roboto slab', sans-serif;
    text-transform: uppercase bold;
    letter-spacing: 3px;
    width: 275px;
    height: 175px;
    padding-top: 25px;
    padding-right: 75%;
    background-color: rgba(229,229,229, 0.5);

    bottom: 25px;
    left:125px;
position: absolute; */

}



#hero-image {
    padding-top: 30px;
    height: 500px;
    width: 50%;
    background-image:   url('../assets/images/hero-image.jpg');
    
    
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    float: left;
    position: static;
}

/* #hero-zoom {
    height: 500px;
    width: 75%;
    overflow: hidden;
    background-size: cover;
} */

/* @keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
} */

#why-join-us {
    padding-top: 30px;
    height: 600px;
    background-color: blue;
    text-align: center;
    color: rgb(0, 0, 0);
    clear: both;
}

#why-join-us > h1 {
    font-size: xx-large;
}

#why-above {
    background-color: red;
}

#below-why {
    background-color: green;
    color: #070606;
    margin-bottom: 10px;
    float: center;
    /* text-decoration: underline; */
}

#why-center {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    clear: none;
}

#circle-image {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: double;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-container {
    background-image: url('../assets/images/slideshow/download.png');
    height: 100%;
    border-radius: 50%;
}


/* Schedule page styling below */

#schedule {
    background-image: url('../assets/images/Birmingham.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    /* Picture sourced from https://www.visitbritain.com/gb/en/business/england/birmingham */
}

#schedule div {
    color: black;
    background-color: rgba(41, 190, 171, 0.5);
    width: 25%;
    height: 300px;
    float: left;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    /* change to shorthand later */
    text-align: center;
    border: 3px double white;
    box-sizing: border-box;
}

#over-text-schedule {
    padding-top: 150px;
    line-height: 50px;
    clear:right;
    width: 50%;
    float: center;
    text-align: center;
    background-color: aqua;
    margin: 0 auto;
    position:static;

}

/* Footer section */