@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

body {
    font-family:'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}


h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-weight:600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.color-black {
    color:rgb(0, 0, 0);
    /* THIS IS NOW CHANGED TO BLACK. GO BACK AND CHANGE CLASS */
}

#title {
    float:right;
    font-size: 200%;
    margin-right: 7.5%;
    color: blue;
}


#nav-menu {
    font-size: 100%;
    letter-spacing: 3px;
    font-family: 'roboto slab', sans-serif;
}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-right: 35px;
    color: blue;
}

#nav-menu a {
    text-decoration: none;
}


#nav-menu a:hover {
    border-bottom: 3px double #070606;
}

.active {
    border-bottom: 3px double #070606;
}

#over-text, h2 {
    color: blue;
}

#over-text {
   padding-top: 3%;
    line-height: 50px;
    clear:center;
    width: 100%;
    text-align: center;
    /* background-color: aqua; */
    margin: 0 auto;
    position:static;
    font-family: 'roboto slab', sans-serif;
    font-size: 150%;
}


/* ETHOS SECTION */

#why-join-us {
    padding-top: 30px;
    height: 600px;
    /* background-color: blue; */
    text-align: center;
    color: rgb(0, 0, 0);
    clear: both;
    margin: 0 auto;
}

#why-join-us li {
    list-style-type: none;
}

#why-join-us > h1 {
    font-size: 300%;
}

#above-why {
    /* background-color: red; */
    color: black;
    width: 100%;
    line-height: 30px;
}

#link {
    color: black;
}

#below-why {
    /* background-color: green; */
    color: #070606;
    margin-bottom: 10px;
    float: center;
    /* text-decoration: underline; */
}

#why-center {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    clear: none;
}



/* Circle container and image - I WANT TO CREATE 3 HORIZONTAL */

#circle-image {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: double;
    /* border-color: black; */
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-container {
    background-image: url('../assets/images/slideshow/download.png');
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/* Schedule page styling below */

#schedule {
    background-image: url('../assets/images/Birmingham.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    /* Picture sourced from https://www.visitbritain.com/gb/en/business/england/birmingham */
}

#schedule div {
    color: black;
    /* background-color: rgba(41, 190, 171, 0.5); */
    width: 25%;
    height: 300px;
    float: left;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    /* change to shorthand later */
    text-align: center;
    border: 3px double white;
    box-sizing: border-box;
    /* NEED TO FIND TEXT COLOR THAT CONTRACTS WITH IMAGE IN THE BACKGROUND */
}

#over-text-schedule {
    padding-top: 150px;
    line-height: 50px;
    clear:right;
    width: 50%;
    float: center;
    text-align: center;
    background-color: aqua;
    margin: 0 auto;
    position:static;
}

/* Footer styling section */
footer {
    padding-top: 30px;
    height: 150px;

    text-align:
}

#social-sites {
    text-align: center;
}

#social-sites > li {
    display: inline;
}

#social-sites i {
    font-size: 160%;
    margin: 2%;
    padding-top: 10%;
    padding: 5%;
    color: #3a3a3a;

}

/* .social-sites {
    text-align: center;
}

.social-sites > li {
    display: inline;
} */

/* Past meets/ Gallery Page */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}


/* Tablet viewing for screens lower than 1201 pixel */
/* THIS SECTION IS NOT ALGNED STRAIGHT FOR SOME REASON*/

@media screen and (max-width: 1200px) {

    #why-join-us {  
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    

    hr {
        display: none;
    }

    #above-why, #below-why {
        padding: 0;
        width: 100%;
        float: center;
        text-align: center;

    }


    #circle-image {
        clear:both;
        /* width: 100%;
        Changing width changes circle to an oval */
        float: 0;
        padding: 0;
    }
/* 
    #circle-container {
        clear: both;
    } */

    #hero-image {
        width: 100%;
    }

}


/* Mobile Viewing for screen lower than 951 pixels*/
/* THIS SECTION IS NOT ALGNED STRAIGHT FOR SOME REASON*/

@media screen and (max-width: 950px) {
    
    #nav-menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #over-text {
        margin: 0 auto;
        text-align: center;
        clear: none;
        /* FIND OUT HOW TO CENTER THIS ON THE SCREEN AFTER HERO IMAGE IS REMOVED */
    }

    #hero-image {
        display: none;
    }

    #why-join-us {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #above-why h2, #below-why h2{
        text-align: center;
        width: 100%;
        padding: 30px;
        margin: 0 auto;
    }
    /* dont think this is needed! */
}


/* Sign up section */

#join-form {
    background: url("");
    background-size: cover;
    background-position: center;
    height: 900px;
    margin: 0 auto;
    background-image: url(../assets/images/UAE\ Dubai\ Ras\ Al\ Khaimah\ \(9\).jpg);
    background-size: auto;
}

#signup-form {
    margin: 100px 100px 300px 300px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.6);
    max-width:400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    /* background-image: url(../assets/images/UAE\ Dubai\ Ras\ Al\ Khaimah\ \(9\).jpg); */
    /* NEED TO FIND CONTRASTING FONT COLOR */
    background-size:cover;
    border: 3px double #fafafa;
}

/* radio {
    text-align: center;
    margin: 0 auto;
}

label {
 margin: 0 auto;
} */
/* FIND OUT HOW TO GET RAIO BUTTON AND TEXT TO CENTER ALIGN */

form h2 {
    text-align: center;
    color: rgb(98, 166, 255);
}

.color-blue {
    color: blue;
}

#signup-form h2 {
    color:#fafafa;
    margin-bottom: 20px;
}

.fname-input {
    background: transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin: 5px 0 20px 0;
    border:3px double #fafafa;
    border-radius: 2px;
}

.fname-input:hover {
    border-color:blue;
}

.lname-input{
    background: transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin: 5px 0 20px 0;
    border:3px double #fafafa;
    border-radius: 2px;
}

.lname-input:hover {
    border-color:blue;
}

.email-input {
    background: transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin: 5px 0 20px 0;
    border:3px double #fafafa;
    border-radius: 2px;
}

.email-input:hover {
    border-color:blue;
}


.text-input:hover {
    border-color:blue;
}

#join-button {
    /* margin-top:20px; */
    margin: 0 auto;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    /* background-color:black; */
    color:black;
    display:block;
    border: 3px double;
}

#join-button:hover {
    background-color:blue;
    color:white;
}


/* TEXT BOX WIDTH CHANGE WHEN CLICKED CSS BELOW FOUND FROM 
https://www.w3schools.com/cssref/sel_attribute_value.asp */

input[type=text], input[type=email] {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
  input[type=text]:focus, input[type=email]:focus {
    width: 250px;
  }